body {
    font-size: 30px;
    padding: 50px;      
    text-align: center; 
    line-height: 10px;
}

a {
    color: black;
}


p {
    font-family: freight-big-pro, serif;
    font-weight: 500;
    font-style: normal;
}

h1 {
    font-family: freight-display-pro, serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
}

img {
    max-width:100%;
    max-height:500px;
}

.italic {
    font-family: freight-big-pro, serif;
    font-weight: 400;
    font-style: italic;
}

.main {

}

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.showcase {
    max-height: 500px;
    display: block;
    margin: auto;
    font-size: 16px;
}

